<% include partials/header  %> 
<h1>Create Camp</h1>

<form action="/campgrounds" method="POST">
<input type="text" placeholder="Enter name here" name="name">
<input type="text" placeholder="Image URL" name="image">
<input type="submit" value="Click Submit Here">
</form>
<% include partials/footer %> 
