<% include partials/header  %> 
<div class="container">
<header class="jumbotron">
<h1>Camp Ground Home Page</h1>
<p>Welcome to the home page of camps from across the world.</p>
</header>

<a href="/campgrounds">View all campgrounds</a>
<br>
<a href="/campgrounds/new">Create a New CampGround</a>

<% include partials/footer %>
</div>
