<div class="container">
    <% include partials/header %>
        <br><br>
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to YelpCamp!</h1>
                <p>View our hand-picked campgrounds from all over the world.</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New CampGround</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campground.forEach(function(campname) { %>
                <div class="col-md-3 col-sm-6">
                    <% // this is to handle resizing of images %>
                        <div class="thumbnail">
                            <img src="<%= campname.image %>" alt="">
                            <div class="caption">
                                <h4>
                                    <%= campname.name %>
                                </h4>
                                <p>
                                    <a href="/campgrounds/<%=campname._id%>" class="btn btn-primary btn-large"> More info </a>
                                </p>
                            </div>
                        </div>

                </div>
                <% }); %>
                    <br>
                    <% include partials/footer %>
        </div>
</div>