<div class="container">
    <% include partials/header %>
        <h1>This is show page</h1>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=campground.image%>" alt="some camp info">
                <div class="caption">
                    <h4>
                        <%=campground.name%>
                    </h4>
                    <h5>
                            <%=campground.description%>
                    </h5>
                </div>
            </div>
            <a href="/campgrounds">Go Back to Campgrounds</a>                            
        </div>
        <br>
        <% include partials/footer %>
</div>